.col-xs-12.js-chronometer{ style: "margin-top: 5px;" }
  .col-xs-3
    %input.form-control.js-chronometer-name{ placeholder: t('game.chronometer_name') }
  .col-xs-3
    %input.form-control.js-chronometer-minutes.text-right{ min: 0, type: "number", placeholder: t('game.chronometer_minutes') }
  .col-xs-3
    %input.form-control.js-chronometer-seconds{ min: 0, max: 59, type: "number", placeholder: t('game.chronometer_seconds') }
  .col-xs-3.btn-group
    %button.btn.btn-success.js-chronometer-start
      = t('game.chronometer_start')
    %button.btn.btn-danger.js-chronometer-stop
      = t('game.chronometer_stop')
    %button.btn.btn-warning.js-chronometer-remove
      = t('game.chronometer_remove')
