-#
  Renders navbar elements useful in a game's environment

  @param Game game The game that's being diplayed
= content_for :module_navbar do
  %li
    = link_to t('game.back_to_stage'), stage_path(game.stage)
