.scoreboard-container
	.timer-container
		%span.scoreboard-text.j-remaining-minutes 05
		%span.scoreboard-text :
		%span.scoreboard-text.j-remaining-seconds 30
	.scores-container
		.score-container
			.scoreboard-bar.black &nbsp;
			.scoreboard-text.j-black_score 10
		.score-container
			.scoreboard-bar.white &nbsp;
			.scoreboard-text.j-white-score 20