.scoreboard-container
	.timer-container
		%span.scoreboard-text.js-remaining-minutes 00
		%span.scoreboard-text :
		%span.scoreboard-text.js-remaining-seconds 00
	.scores-container
		.score-container
			.scoreboard-bar.black &nbsp;
			.scoreboard-text.js-black-score 0
		.score-container
			.scoreboard-bar.white &nbsp;
			.scoreboard-text.js-white-score 0