.scoreboard-container
	.timer-container
		%span.scoreboard-text.js-remaining-minutes 05
		%span.scoreboard-text :
		%span.scoreboard-text.js-remaining-seconds 30
	.scores-container
		.score-container
			.scoreboard-bar.black &nbsp;
			.scoreboard-text.js-black-score 10
		.score-container
			.scoreboard-bar.white &nbsp;
			.scoreboard-text.js-white-score 20