-#
  Presents a confirmation message before attempting to remove a player from a team

  Expects the following instance variavles to be defined

  @param [Player] player The player to be destroyed
#removePlayer
  .modal-header
    %h2.modal-title= t('player.destroy')
  .modal-body
    = form_tag player_path(@player), method: :delete do
      .form-horizontal
        .form-group
          %label.col-sm-12= t('player.confirm_destroy', player_name: @player.name, team_name: @player.team_name)
          = render 'public/modal_form_buttons'
