# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html
coverage.out

# Go workspace file
go.work

# Build artifacts
server
server-go
/dist

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
