-#
  Renders an event in a game, in a layout that is appropriate for a feed

  @param [GameEvent] game_event The event being rendered
.col-xs-12.game-event{ id: game_event.id }
  .col-xs-2= game_event.created_at.localtime.strftime('%d/%m/%Y %I:%M:%S %p')
  .col-xs-10= game_event.text
  %hr
