-#
  Renders a generic error message inside a modal

.modal-header
  %h2.modal-title= t('general.error')
.modal-body
  %p= t('general.modal_load_error')
  %a.btn.btn-danger{ data: { dismiss: 'modal' } }
    = t('general.close')
